.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
  #lezioni .row img,
  img{
    height: 150px;
    width: auto;
  }

  .row {
    width: 100%;
    margin-top: 60px;
  }

  h3{
    font-size: 25px;
  }

  /* Sezione lezioni */
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 46%;
    margin: 2%;
  }

  /* Sezione steps*/
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 70%;
    margin: auto;
    padding-bottom: 50px;
  }

  /* Sezione why */
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    width: 70%;
    margin: 30px auto;
  }

  #why .row img {
    width: 80px;
    height: auto;
    background-color: #428bca;
    border-radius: 50%;
    padding: 20px
  }
}


@media screen and (max-width: 419px) {
  /* COMMON */
  #lezioni .row img,
  img {
    height: 100px;
    width: auto;
  }

  h1{
    text-align: center;
  }

  .row {
    width: 100%;
    margin-top: 50px;
  }

  body{
    background-color: #dee9f3;
  }

  /* Sezione lezioni */
  #lezioni .row>.left,
  #lezioni .row>.right{
    float: none;
    width: 100%;
    padding-bottom: 30px;
  }

  /* Sezione steps*/
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
    width: 100%;
    padding-bottom: 30px;
  }

  /* Sezione why */
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 40px;
  }

  #why .row img {
    width: 50px;
    height: auto;
    background-color: #428bca;
    border-radius: 50%;
    padding: 20px
  }
}
